@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.text-remove {
  animation-name: fadeOut;
  /* animation-duration: 0.2s; */
  /* animation-delay: 2s; */
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  user-select: none;
  cursor: default;
}

.codePair-cursor {
  position: absolute;
  border-left-style: solid;
  border-left-width: 2.5px;
  padding: 0px;
}

.codePair-name {
  white-space: nowrap;
  position: absolute;
  left: -2px;
  padding: 1px 4px;
  border-radius: 2px 2px 2px 0px;
}

.CodeMirror {
  font-size: 16px;
  height: 100%;
}

/* 
* When the user name needs to be expressed in the mouse cursor, 
* codemirror's default style marks outgoing doms as hidden, How to solve this.
* issue ref https://github.com/yorkie-team/yorkie-codepair/issues/16
*/
.CodeMirror-scroll {
  padding-top: 18px;
  padding-bottom: 18px;
}
