@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/monokai.css';
@import 'codemirror/theme/xq-light.css';

html,
body {
  overflow: hidden;
}

/**
  * CodeEditor
  */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text-remove {
  animation-name: fadeOut;
  /* animation-duration: 0.2s; */
  /* animation-delay: 2s; */
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  user-select: none;
  cursor: default;
}

.codePair-cursor {
  position: absolute;
  border-left-style: solid;
  border-left-width: 2.5px;
  padding: 0px;

  &[data-pos='top'] .codePair-name {
    bottom: calc(0% - 10px) !important;
  }
}

.codePair-name {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
  left: -2px;
  padding: 1px 4px;
  border-radius: 2px 2px 2px 0px;
  bottom: 100%;
}

.editor-toolbar {
  border: none !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.CodeMirror {
  border: none !important;
  border-bottom: none !important;
  border-left: none !important;
  border-color: #eeeeee !important;
}

.CodeMirror-foldmarker {
  color: rgb(0, 120, 6);
  background-color: transparent !important;
  text-shadow: none !important;
  font-size: 2.5rem !important;
}

.CodeMirror-foldgutter-folded {
  display: none;
}

.EasyMDEContainer {
  [data-language] {
    position: relative;
    display: block;

    &::before {
      position: absolute;
      content: attr(data-language);
      top: 0px;
      right: 0px;
      padding: 0px 5px;
      display: inline-block;
      border-radius: 4px;
    }
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    padding: 10px 0px !important;
  }
  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .CodeMirror-gutter-wrapper {
    height: 100%;
  }

  .CodeMirror-gutters {
    background-color: inherit;
    border-right: none;
  }

  .CodeMirror-gutter-elt {
    // transform: translateY(15px);
  }

  /* 
   * Make vim command visible.
   * issue ref https://github.com/yorkie-team/codepair/issues/148  
   */
  .CodeMirror-dialog {
    &.CodeMirror-dialog-bottom {
      position: absolute;
      z-index: 2;
      bottom: 10px;
    }
  }

  .cm-s-easymde .cm-header-1 {
    font-size: 28px;
    line-height: 60px;
  }

  .cm-s-easymde .cm-header-2 {
    font-size: 21px;
    line-height: 50px;
  }

  .cm-s-easymde .cm-header-3 {
    font-size: 18px;
    line-height: 43px;
  }

  .cm-s-easymde .cm-header-4 {
    font-size: 14px;
    line-height: 40px;
  }

  .cm-s-easymde .cm-header-5 {
    font-size: 12px;
    line-height: 36px;
  }

  .cm-s-easymde .cm-header-6 {
    font-size: 10px;
    line-height: 34px;
  }
}

[data-theme='light'] {
  &[data-scroll='true'] *::-webkit-scrollbar {
    width: 5px;
  }

  &[data-scroll='true'] *::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
  }

  .EasyMDEContainer {
    padding: 0px 20px;
    padding-right: 0px;

    .CodeMirror-fullscreen {
      background-color: #fff;
    }

    .CodeMirror-line span.cm-keyword {
      color: #708;
    }

    .CodeMirror-line span.cm-atom {
      color: #219;
    }
    .CodeMirror-line span.cm-em {
      color: rgb(206, 73, 255);
      // font-weight: bold;
    }

    .CodeMirror-line span.cm-comment {
      color: #a11;
      // font-weight: bold;
      background-color: transparent !important;
    }

    .CodeMirror-line span.cm-number {
      color: #164;
    }

    .CodeMirror-line span.cm-def {
      color: #00f;
    }

    .CodeMirror-line span.cm-variable {
      color: black;
    }

    .CodeMirror-line span.cm-property {
      color: rgb(0, 180, 9);
    }

    .CodeMirror-line span.cm-list {
      color: rgb(0, 120, 6);
    }

    .CodeMirror-line span.cm-operator {
      color: black;
    }

    .CodeMirror-line span.cm-string {
      color: #a11;
    }

    .CodeMirror-line span.cm-string-2 {
      color: rgb(224, 108, 117);
    }

    .CodeMirror-line span.cm-meta {
      color: #555;
    }

    .CodeMirror-line span.cm-error {
      color: #f00;
    }

    .CodeMirror-line span.cm-qualifier {
      color: #555;
    }

    .CodeMirror-line span.cm-builtin {
      color: #30a;
    }

    .CodeMirror-line span.cm-bracket {
      color: #997;
    }

    .CodeMirror-line span.cm-tag {
      color: #170;
    }

    .CodeMirror-line span.cm-attribute {
      color: #00c;
    }
    .CodeMirror-line span.cm-attribute {
      color: #00c;
    }

    .CodeMirror-line span.cm-hr {
      color: #999;
    }

    .CodeMirror-line span.cm-strikethrough {
      color: rgb(12, 120, 45);
      text-decoration: line-through;
    }

    .CodeMirror-line span.cm-strong {
      color: rgb(46, 4, 235);
    }

    /* List level 1 */
    .CodeMirror-line span.cm-formatting-task {
      --color: #046a9a;
      color: var(--color);
    }
    .CodeMirror-line span.cm-formatting-task.cm-property + * {
      --color: #046a9a;
      color: var(--color);
      // font-weight: bold;
      text-decoration: line-through;
    }

    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ul,
    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ul + * {
      color: rgb(0, 149, 255);
      // font-weight: bold;
    }

    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ol,
    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ol + * {
      color: rgb(0, 125, 84);
      // font-weight: bold;
    }

    .CodeMirror-line span.cm-formatting-link-string.cm-string.cm-url,
    .CodeMirror-line span.cm-formatting-link-string + span.cm-variable-2 {
      --color: #e9e512;
      color: var(--color);
    }

    /* List level 1 */
    .CodeMirror-line span.cm-meta.cm-formatting-task + span.cm-variable-2 {
      --color: #ff6060;
      color: var(--color);
      text-decoration: none;
    }

    /* List level 2 */
    .CodeMirror-line span.cm-variable-3 {
      // color: #17572d;
    }

    /* List level 2 */
    .CodeMirror-line span.cm-formatting-task + span.cm-variable-3,
    .CodeMirror-line span.cm-formatting-task + span.cm-variable-3 + span.cm-variable-3,
    .CodeMirror-line span.cm-formatting-task + span.cm-variable-3 + span.cm-variable-3 + span.cm-variable-3 {
      --color: #3c9dc9;
      color: var(--color);
      // font-weight: bold;
      text-decoration: line-through;
    }

    /* List level 3 = Cyan*/
    .CodeMirror-line span.cm-keyword {
      color: #309696;
      font-weight: bold;
    }

    /*Link text = orange*/
    .CodeMirror-line span.cm-link-text {
      color: #e3ae48 !important;
    }

    .CodeMirror-line span.cm-meta.cm-formatting-task + *,
    .CodeMirror-line span.cm-meta.cm-formatting-task + .cm-keyword {
      --color: #ff6060;
      color: var(--color);
      text-decoration: none;
    }

    /*URL = blue*/
    .CodeMirror-line span.cm-link,
    .CodeMirror-line span.cm-string.cm-url {
      color: #119ccf !important;
      // font-weight: bold;
    }

    /* Exclamation mark on image marker */
    .CodeMirror-line span.cm-image-marker {
      color: #00ff00 !important;
    }

    .editor-preview-side {
      border: 1px solid rgb(234, 234, 234);
      background-color: #ffffff !important;
    }
    .editor-preview {
      background-color: #fafbfc;
    }

    .editor-preview pre {
      background-color: inherit !important;
    }

    [data-language]::before {
      background-color: rgb(0, 162, 249);
      color: white;
    }
  }
}

.EasyMDEContainer.sided--no-fullscreen .editor-preview-active-side {
  height: calc(100vh - 110px) !important;
}

.editor-preview-side {
  // background-color: #1e1e1e !important;
  // color: #fff;
  padding: 20px;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 3px #9bc9ff solid;
  padding: 0px 20px;
}

.editor-preview-side .marpit svg foreignObject section {
  border: none;
}

.editor-preview-full .marpit svg foreignObject section {
  border: none;
}

.editor-preview-side .marpit a {
  color: white;
}

.editor-preview-full .marpit a {
  color: white;
}

.editor-preview-side img {
  max-width: calc(100% - 10px);
}

.editor-preview-side .mermaid {
  // background-color: #00c;
  // text-align: center;
}

/**
 * DrawingBoard
 */
.canvas-touch-none {
  touch-action: none;
}

/* mouse css */
.auto {
  cursor: auto;
}

.default {
  cursor: default;
}

.crosshair {
  cursor: crosshair;
}

.eraser {
  cursor: url('./assets/icons/eraser.cur'), auto;
}

.canvas {
  position: absolute;
}

.canvas-upper {
  z-index: 1;
  top: 0px;
  left: 0px;
}

.canvas-lower {
  z-index: 0;
  top: 0px;
  left: 0px;
}

[data-theme='dark'] {
  &[data-scroll='true'] *::-webkit-scrollbar {
    width: 5px;
  }

  &[data-scroll='true'] *::-webkit-scrollbar-thumb {
    background: #666;
  }

  .EasyMDEContainer {
    padding: 0px 20px;
    padding-right: 0px;

    .CodeMirror {
      // background-color: #333333 !important;
      color: #ffffff !important;
      // border-color: #555 !important;
    }

    .CodeMirror-fullscreen {
      background-color: #111 !important;
    }

    .CodeMirror-foldmarker {
      color: #ffffff !important;
    }

    .CodeMirror-dialog {
      &.CodeMirror-dialog-bottom {
        position: absolute;
        z-index: 2;
        bottom: 10px;

        input {
          background-color: #333333 !important;
          color: #ffffff !important;
          border-color: #555 !important;
          border-style: solid;
          caret-color: white;
          border: none;
          outline: none;
        }
      }
    }

    .CodeMirror-line span.cm-keyword {
      color: #708;
    }

    .CodeMirror-line span.cm-atom {
      color: #219;
    }

    .CodeMirror-line span.cm-em {
      color: rgb(206, 73, 255);
      font-weight: bold;
    }

    .CodeMirror-line span.cm-comment {
      color: rgb(220, 90, 90);
      font-weight: bold;
      background-color: transparent !important;
    }

    .CodeMirror-line span.cm-number {
      color: rgb(42, 213, 145);
    }

    .CodeMirror-line span.cm-def {
      color: rgb(93, 93, 238);
    }

    .CodeMirror-line span.cm-variable {
      color: white;
    }

    .CodeMirror-line span.cm-property {
      color: rgb(56, 234, 175);
    }

    .CodeMirror-line span.cm-list {
      color: rgb(56, 234, 175);
    }

    .CodeMirror-line span.cm-formatting-header {
      color: rgb(102, 102, 102);
    }

    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ul,
    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ul + * {
      color: rgb(0, 149, 255);
    }

    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ol,
    .CodeMirror-line span.cm-formatting.cm-formatting-list.cm-formatting-list-ol + * {
      color: rgb(56, 234, 175);
    }

    .CodeMirror-line span.cm-formatting-header.cm-formatting-header-1,
    .CodeMirror-line span.cm-formatting-header + .cm-header-1 {
      color: rgb(0, 149, 255);
    }

    .CodeMirror-line span.cm-formatting-header.cm-formatting-header-2 {
      color: rgb(0, 149, 255);
    }

    .CodeMirror-line span.cm-formatting-header.cm-formatting-header-3 {
      color: rgb(0, 149, 255);
    }

    .CodeMirror-line span.cm-property.cm-formatting-task + * {
      color: rgb(0, 149, 255);
    }

    .CodeMirror-line span.cm-operator {
      color: rgb(102, 102, 102);
    }

    .CodeMirror-line span.cm-string {
      color: rgb(245, 88, 88);
    }

    .CodeMirror-line span.cm-string-2 {
      color: rgb(224, 108, 117);
    }

    .CodeMirror-line span.cm-meta {
      color: rgb(255, 116, 116);
    }

    .CodeMirror-line span.cm-error {
      color: #f00;
    }

    .CodeMirror-line span.cm-qualifier {
      color: #555;
    }

    .CodeMirror-line span.cm-builtin {
      color: #30a;
    }

    .CodeMirror-line span.cm-bracket {
      color: #997;
    }

    .CodeMirror-line span.cm-tag {
      color: rgb(152, 195, 121);
    }

    .CodeMirror-line span.cm-attribute {
      color: #00c;
    }

    .CodeMirror-line span.cm-hr {
      color: #999;
    }

    /* List level 1 */
    .CodeMirror-line span.cm-variable-2 {
      // color: #f0bc88;
      // font-weight: bold;
    }

    /* List level 1 */
    .CodeMirror-line span.cm-formatting-task.cm-property + * {
      --color: rgb(0, 149, 255);
      color: var(--color);
      // font-weight: bold;
      text-decoration: line-through;
    }

    .CodeMirror-line span.cm-formatting-link-string.cm-string.cm-url,
    .CodeMirror-line span.cm-formatting-link-string + span.cm-variable-2 {
      --color: #e9e512;
      color: var(--color);
    }

    /* List level 1 */
    .CodeMirror-line span.cm-formatting-task.cm-meta + * {
      --color: #ff6060 !important;
      color: var(--color);
      text-decoration: none;
    }

    /* List level 2 */
    .CodeMirror-line span.cm-variable-3 {
      // color: #67e892;
    }

    /* List level 3 = Cyan*/
    .CodeMirror-line span.cm-keyword {
      color: rgb(198, 120, 221);
    }

    /*Link text = orange*/
    .CodeMirror-line span.cm-link-text {
      color: #e3ae48 !important;
    }

    /*URL = blue*/
    .CodeMirror-line span.cm-link,
    .CodeMirror-line span.cm-string.cm-url {
      color: #0f82af;
      // font-weight: bold;
      text-underline-offset: 5px;
    }

    /* Exclamation mark on image marker */
    .CodeMirror-line span.cm-image-marker {
      color: #00ff00 !important;
    }

    .CodeMirror-line span.cm-strikethrough {
      color: #ff6060;
      text-decoration: line-through;
    }

    .CodeMirror-line span.cm-strong {
      color: rgb(165, 145, 255);
    }

    .editor-toolbar.fullscreen {
      background-color: #333333 !important;
    }

    .editor-preview-side {
      border: 1px solid #333;
      background-color: #333333 !important;
    }

    .editor-preview-side .marpit > svg {
      border: 1px solid #333;
    }

    .editor-preview {
      background-color: #000000 !important;
    }

    [data-language]::before {
      content: attr(data-language);
      background-color: #333;
      color: #fff;
    }
  }
}
