@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/monokai.css';
@import 'codemirror/theme/xq-light.css';

/**
  * CodeEditor
  */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.text-remove {
  animation-name: fadeOut;
  /* animation-duration: 0.2s; */
  /* animation-delay: 2s; */
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  user-select: none;
  cursor: default;
}

.codePair-cursor {
  position: absolute;
  border-left-style: solid;
  border-left-width: 2.5px;
  padding: 0px;
}

.codePair-name {
  white-space: nowrap;
  position: absolute;
  left: -2px;
  padding: 1px 4px;
  border-radius: 2px 2px 2px 0px;
}

.EasyMDEContainer {
  .editor-toolbar {
    border: none;
  }

  .CodeMirror {
    border-bottom: none;
  }
  
  /* 
   * Make vim command visible.
   * issue ref https://github.com/yorkie-team/codepair/issues/148  
   */
  .CodeMirror-dialog { 
    &.CodeMirror-dialog-bottom {
      position: absolute;
      z-index: 2;
      bottom: 10px;
    }
  }
}

/**
 * DrawingBoard
 */
.canvas-touch-none {
  touch-action: none;
}

/* mouse css */
.auto {
  cursor: auto;
}
.default {
  cursor: default;
}
.crosshair {
  cursor: crosshair;
}

.eraser {
  cursor: url('./assets/icons/eraser.cur'), auto;
}

.canvas {
  position: absolute;
}

.canvas-upper {
  z-index: 1;
  top: 0px;
  left: 0px;
}

.canvas-lower {
  z-index: 0;
  top: 0px;
  left: 0px;
}
